<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Movie</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Movies Edit Page</h1>
        <form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
            Name: <input type="text"  name="name" value="<%=movie.name%>" />
            <br>
            Director:<input type="text" name="director" value="<%=movie.director%>" />
            <br>
            Genre:<input type="number" name="genreId" value="<%=movie.genreId%>" />
            <br>
            Year: <input type="number" name="year" value="<%=movie.year%>" />
            <br>
            Seen already? <input type="checkbox" name="seenAlready" 
                <% if(movie.seenAlready === true){ %>
                    checked
                    <% } %>
            />
            <br>
            <br>
            <input type="submit" name="" value="Edit Movie"/>
        </form>
    </body>
</html>